:root {
    --header-height: 3rem;

    /* === Colors === */
    --first-color: rgba(0, 0, 0, 80%);
    --second-color: rgba(0, 0, 0, 1%);
    --third-color: rgba(255, 255, 255, 20%);
    --white-color: white
}

/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:  hsl(0, 0%, 10%);
}

html {
    scroll-behavior: smooth;
}

h1, h2, p {
    text-align: justify;
}

h1 {
    line-height: 3.5rem;
}

li {
    text-decoration: none;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.sec-header {
    position: fixed;
    width: 100%;
}

.header {
    height: var(--header-height);
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
}

.nav-menu-button {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: 1rem;
    display: none
}

.name {
    text-decoration: none;
    color: var(--white-color);
    margin-left: 0.5rem;
}

.menu-options{
    display: flex;
}

.menu-option-button {
    margin-right: 0.5rem;
}

@media (max-width: 420px){
    .nav-menu-button {
        display: block
    }
    .menu-options{
        display: none;
    }
    .name {
        margin-right: 0.5rem;
        margin-left: 0;
    }
}

.main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
    padding-bottom: 2rem;
    background-image: url('./assets/dev-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#dev-name {
    color: var(--white-color);
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
}

.sec-about {
    display: flex;
    padding: 3rem 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}