:root {
    --header-height: 4rem;

    /* === Colors === */
    --first-color: rgba(0, 0, 0, 80%);
    --second-color: rgba(0, 0, 0, 20%);
    --third-color: rgba(0, 0, 0, 1);
    --white-color: white
}

/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(0, 0%, 10%);
}

html {
    scroll-behavior: smooth;
}

h1, h2, p {
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    display: flex;
}

header {
    position: fixed;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    width: 100%;
    font-size: 2rem;
    color: white;
    z-index: 20;
}

button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: solid rgba(250, 250, 250, .35) 1px;
    border-radius: 4px;
    color: white;
    font-family: 'Poppins', sans-serif;
    animation: onLoadOpacity 4s
}

button.color {
    background-color:#32CD32;
}

button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.menu {
    z-index: 11;
}

.rotate {
    transform: rotateZ(-70deg);
    transition: 0.5s;
}

.container {
    background-image: linear-gradient( to right, var(--first-color), var(--second-color));
}

.logo {
    font-family: 'Poppins';
    font-weight: 300;
}

.sec-hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
    padding: 0 2rem;
    padding-top: 6rem;
    background-image: url('./assets/im-frontparsed.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

@media screen and (min-width: 738px) {
    .sec-hero {
        background-position: right center;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0;
        padding-left: 20%;
    }
}

.hero-container {
    max-width: 1280px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: onLoadSlide 1.5s;
}

.dev-name {
    color: rgba(250, 250, 250, .35);
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .2rem;
}

.dev-description {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

.buttons_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

@keyframes onLoadOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes onLoadSlide {
    from {
        opacity: 0;
        transform: translateY(-60%);
    }
    to {
        opacity: 1;
    }
}

.menu-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--third-color);
}

.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
    padding-top: var(--header-height);
    align-items: center;
    z-index: 1;
    animation: onLoadSlide 0.7s
}

.menu-button {
    line-height: 3rem;
    color: #32CD32
}

.about {
    display: flex;
}

.about-container {
    display: flex;
    background-color: #32CD32;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.about-container p {
    max-width: 400px;
}

.sec-contact {
    padding: 5rem 1.5rem 15rem;
    height: 100vh;
}

.social-button {
    display: flex;
    border-color: transparent;
    background-color: transparent;
    padding: 0 0;
    flex-direction: column;
    align-items: center;
    color:hsl(0, 0%, 10%);
    line-height: 2rem;
    font-size: 1.1rem;
}

.contact-container {
    display: flex;
    background-color: #32CD32;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.sec-projects {
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
    align-items: center;
}

#findMovie-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    height: 110vw;
    max-height: 624px;
    overflow: hidden;
    max-width: 324px;
}

.sec-projects a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    align-self: center;
    padding: 1rem 0
}

img.mobile-image {
    flex: 1;
    visibility: hidden;
    object-fit: contain;
    opacity: 0;
    width: 100%;
    position: absolute;
    border-radius: 1.4rem;
}

img.image-selected {
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
}